name: monitor-eks
on:
  workflow_dispatch:
  # push:
  #   branches:
  #   - main

jobs:
#------------------------monitoring-------------------
  deploy-monitoring:
     name: deploy prometheus and grafana
     runs-on: ubuntu-latest
     env:
       AWS_REGION: us-east-1
       CLUSTER_NAME: ecommerce-eks-cluster
       
     steps:
       - name: Checkout Code
         uses: actions/checkout@v6
       
       - name: Configure AWS Credentials
         uses: aws-actions/configure-aws-credentials@v5
         with:
          aws-access-key-id: ${{ secrets.aws_access_key_id }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
          aws-region: ${{ env.AWS_REGION }}
       
       - name: Update kubeconfig
         run: |
           aws eks --region ${{ env.AWS_REGION }} update-kubeconfig --name ${{ env.CLUSTER_NAME }}
       
       - name: Setup Helm
         uses: azure/setup-helm@v3
       
       - name: Deploy Monitoring Stack
         run: |
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm repo update
          helm upgrade --install prometheus prometheus-community/kube-prometheus-stack \
            --namespace monitoring --create-namespace \
            --set grafana.service.type=ClusterIP \
            --set grafana.service.port="3000" \
            --set grafana.adminPassword=${{ secrets.GRAFANA_ADMIN_PASSWORD }} \
            --set grafana.grafana\.ini.server.root_url="%(protocol)s://%(domain)s/grafana" \
            --set grafana.grafana\.ini.server.serve_from_sub_path=true \
            --set prometheus.service.type=ClusterIP \
            --set prometheus.service.port="9090" \
            --set prometheus.prometheusSpec.routePrefix="/" \
            --set alertmanager.service.type=ClusterIP \
            --set alertmanager.service.port="9093" \
            --set alertmanager.alertmanagerSpec.routePrefix="/"
       

       
       - name: Wait for Monitoring Rollout
         run: |
          kubectl rollout status statefulset/prometheus-prometheus-kube-prometheus-prometheus -n monitoring --timeout=300s || true
          kubectl rollout status statefulset/alertmanager-prometheus-kube-prometheus-alertmanager -n monitoring --timeout=300s || true
          kubectl rollout status deployment/prometheus-grafana -n monitoring --timeout=300s || true
          sleep 30


       - name: expose-svc
         run: |
           kubectl expose svc prometheus-kube-prometheus-prometheus --type=NodePort --target-port=9090 --name prometheus-kube-prometheus-prometheus-ext -n monitoring
           kubectl expose svc  prometheus-grafana --type=NodePort --target-port=3000 --name  prometheus-grafana-ext -n monitoring
           kubectl expose svc  prometheus-kube-prometheus-alertmanager --type=NodePort --target-port=9093 --name  prometheus-kube-prometheus-alertmanager-ext -n monitoring


       - name: Apply Monitor Ingress
         run: |
            kubectl apply -f k8s/ingress-monitor.yml
           



